/*--CSS Reset--*/
*,
*::before,
*::after {
    box-sizing: border-box;}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img {
    display: block;
    max-width: 100%;
}

/*--Main Styles--*/
html {
    color: white;
    background: black;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}




h1 {
    font-weight: normal;
    font-size: 75px;
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

footer p {
    text-align: right;
}

img.fuck {
    width: 50%;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
#landing-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#landing-container > * {
    margin-bottom: 1em;
}
#landing a {
    display: block;
    padding: 1em;
    border-radius: 10px;
    background: aquamarine;
}